Pandas 패키지의 시리즈 클래스
시리즈 = 값 + 인덱스(인덱스 라벨)

In [2]:
import pandas as pd

s = pd.Series([9904312, 3448737, 2890451, 2466052],
             index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [3]:
#인덱스 미지정시 0부터 시작하는 정수값
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [12]:
print(s.index)
print(s.values)

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')
[9904312 3448737 2890451 2466052]

In [11]:
# 시리즈 데이터에 이름을 붙임
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [13]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [15]:
s[1:3], s['부산'] # 값을 튜플로 반환

(도시
 부산    3448737
 인천    2890451
 Name: 인구, dtype: int64,
 3448737)

In [17]:
# 배열 인덱싱으로 자료의 순서를 바꿈
s[[3,2,1,0]]

도시
대구    2466052
인천    2890451
부산    3448737
서울    9904312
Name: 인구, dtype: int64

In [22]:
print(s[["서울", "대구", "부산"]])
print(s["부산":"대구"])

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64
도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [20]:
s[(250e4<s)&(s<500e4)]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [23]:
# 라벨이 영문 문자열일 경우 속성인 것 처럼 점(.)으로 접근 가능
s0 = pd.Series(range(3), index=["a","b","c"])
s0

a    0
b    1
c    2
dtype: int64

In [25]:
print(s0.a)
print(s0.b)

0
1

In [26]:
"서울" in s

True

In [28]:
# 반복문 사용시 인덱스가 먼저
for index, item in s.items():
    print("%s = %d" %(index, item))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [31]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [32]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [33]:
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [34]:
ds[ds.notnull()] # null값이 아닌 인덱스만 뽑아오는 방법

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [36]:
rs = ((s-s2) / s2)*100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [40]:
rs["부산"] = 1.63
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

In [42]:
rs["대구"] = 1.41
rs

부산    1.630000
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [43]:
del rs['서울']
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64